PORT=8000
MONGODB_CONNECTION=mongodb://127.0.0.1:27017/multi-tenant-saas-byepo
JWT_SECRET=your_jwt_secret_key
JWT_DURATION=86400
CORS_ORIGIN=*

SUPER_ADMIN_EMAIL=admin@email.com
SUPER_ADMIN_PWD=your_super_admin_password
