@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #0b0f19; /* Sleek dark-blue slate */
  color: #f1f5f9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
